body {background-color: snow;}
h1 {font-family: Optima, sans-serif;
	margin-upper: 0.2em;
	margin-left: 1em;
	font-size: 300%}
h2 {font-family: Optima, sans-serif;
	font-size: xx-large;
	margin: 1em 0em 0.5em 0em}
h3 {font-family: Optima, sans-serif;
	font-size: x-large;
	margin: 2em 0em 0.5em 0em}
p {font-family: Gill Sans, sans-serif;
	font-size: large;
	margin: 0em 0em 0.5em 0em}
ul {list-style-type: none;
	margin: -2.5em 0em 5em 2.5em;
	padding: 0;
	overflow: hidden}
ul li {float: left}
ul li a {display: block;
	color: black;
	text-align: center;
	padding: 1em 1em;
	font-family: Gill Sans, sans-serif;
	text-decoration: none;
	font-size: medium}
ul li a:hover {background-color: black;
	color: white}
div {margin: 0em 5em 3em 5em}
.text-container {position: absolute;
	color: black;
	background-color: snow;
	padding: 0.6em;
	text-align: left;
	font-size: xx-large}
.gfg {position: relative;
	text-align: center;
	margin: 0em 5em 3em 5em}
table {font-family: Gill Sans, sans-serif;
	font-size: large}
th, td {padding: 0.4em;
	text-align: left}

